---
permalink: "404.html"
dynamicPermalink: false
---

extends layouts/main.pug

block content
    .stack(class="center:fixed-width")
        h1 404
        p somehow you ended up here, on a land far far away
        a(href="/").button go back home

block footer
    div